@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
  --primary: #1a73e8;
  --mdc-theme-secondary: #018786;
  --mdc-theme-accent: #fc7a00;
  --x-body-color: #525f7f;
  --x-body-bg: #fff;
  font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
}